
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">

<th:block layout:fragment="content">
  <div class="container-fluid">
    <h1>공고 관리</h1>
    <div class="row" id="contentList">
      <div th:if="${contentList.totalCnt eq 0}" class="alert alert-light" role="alert" id="noMbrAvailable">
        <span>공고 정보가 없습니다.</span>
      </div>
      <main>
        <div class="row mb-3">
          <div class="col-md-3 mb-1">
            검색 조건 1
            <select id="searchDeptId" class="form-select">
              <option value="">전체</option>
            </select>
          </div>
          <div class="col-md-3 mb-1">
            검색 조건 2
            <select id="searchUseYn" class="form-select">
              <option value="">전체</option>
            </select>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <button type="button" class="btn btn-secondary" onclick="">조회</button>
<!--            <button type="button" class="btn btn-secondary" onclick="MbrService.loadList(1)">조회</button>-->
          </div>
        </div>
        <table id="content_list_table" class="table table-hover table-striped table-bordered text-center" style="font-size: 14px">
          <thead>
          <tr>
            <th>공고 ID</th>
            <th>보호소 ID</th>
            <th>보호소 이름</th>
            <th>입양 공고 상태</th>
            <th>이름</th>
            <th>견종</th>
          </tr>
          </thead>
          <tbody>
          <tr th:unless="${contentList.totalCnt eq 0}" th:each="content : ${contentList.dtoList}" th:onclick="|location.href='@{/cms/content/{postId}(postId = ${content.postId})}'|">
            <td th:text="${content.getPostId()}"></td>
            <td th:text="${content.getShelterId()}"></td>
            <td th:text="${content.getShelterName()}"></td>
            <td th:text="${content.getStatus()}"></td>
            <td th:text="${content.getBomInfo().getName()}"></td>
            <td th:text="${content.getBomInfo().getBreed()}"></td>
          </tr>
          </tbody>
        </table>

      </main>
    </div>
  </div>
</th:block>

</html>

<script type="text/javascript">

</script>
